<section
  class="mb-8 mt-16 flex flex-col items-center justify-center md:mt-24 lg:mt-32"
>
  <p class="mx-4 w-3/4 text-center sm:mx-8 lg:mx-16 lg:text-lg">
    We're based in Kelowna, BC in the beautiful Okanagan valley. Our clients
    have offices across southern British Columbia from Vancouver Island to the
    Kootenays. However with modern technology, physical location has become
    irrelevant. So no matter where you are, we can help you.
  </p>
</section>
