---
const { label, link, ...attrs } = Astro.props;
---

<a
  href={link}
  target="ref"
  class="inline-block whitespace-nowrap rounded-full bg-secondary-600 px-4 py-1 text-sm font-semibold text-white transition-transform hover:scale-105 hover:shadow-md sm:px-3"
  {...attrs}
>
  {label}
</a>
