<section class="mt-16 text-center md:mt-24 lg:mt-32">
  <h2
    class="py-2 text-2xl uppercase text-primary-600 md:text-3xl lg:text-4xl font-cunia"
  >
    Your technology partner
  </h2>
  <p class="mx-4 mt-2 sm:mx-8 lg:mx-16 lg:text-lg">
    Let's be honest... you need computers, but you hate having to deal with all
    their little issues, right? The firmware and software updates, the security,
    the backups (what, no backups?), the corruption, the slow network, the
    printer that's offline for no reason, the spam and the phishing emails, the
    dated website that doesn't work on smartphones, yadda, yadda, yadda.<br />We
    feel your pain. Who wants to deal with that stuff?<br />We do. Yeah, really.
    It's what we do.<br />We'll make the pain go away.<br />Promise.
  </p>
</section>
